header {
    background: rgb(39, 218, 209);
    padding: 20px 0;
}

.caixa-nav{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(0, 38, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.produtos {
    width: 1150px;
    margin: 0 auto;
    padding: 45px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    border-color: rgb(26, 145, 243);
    border-width: 3px;
    border-style: dotted;
    border-radius: 15px 30px 15px 30px;
}

.item {
    width: 350px;
    height: 260px;
}

.produtos li h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
}

.produtos li p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}