body {
    background-color: rgb(46, 4, 164);
}

h1 {
    text-align: center;
    background: rgb(83, 194, 242);
}

p {
    text-align: center;
    background: rgb(83, 194, 242);
}

strong {
    color: red;
}

